{% github_edit_link "Improve this page" %}

<select disabled aria-label="themes" id="themes">
  <option value="default">default</option>
  <option value="random">random</option>
  <option value="dark.css">dark</option>
  <option value="cmd.css">cmd.exe</option>
  <option value="inverted.css">inverted</option>
  <option value="comic.css">comic</option>
  <option value="base64.css">base64</option>
  <option value="mc.css">Minecraft</option>
  <option value="flip.css">flip</option>
  <option value="gradient.css">gradient</option>
</select>

<script src="/writeups/js/footer.js"></script>
