{% github_edit_link "Improve this page" %} 
<label for='themes'>Theme:</label>
<select id='themes'>
  <option value='default'>default</option>
  <option value='dark.css'>dark</option>
  <option value='cmd.css'>cmd.exe</option>
  <option value='red.css'>red</option>
  <option value='inverted.css'>inverted</option>
</select>

<script>
  "use strict";
  const themes = document.getElementById('themes');
  
  themes.value = theme;
  
  themes.onchange = () => {
    if (themes.value == 'default') {
      localStorage.removeItem('theme');
    } else {
      localStorage.setItem('theme', themes.value);
    }
    // Being lazy here
    location.reload();
  }
</script>
