{% github_edit_link "Improve this page" %}
<label for='themes'>Theme:</label>
<select disabled id='themes'>
  <option value='default'>default</option>
  <option value='dark.css'>dark</option>
  <option value='cmd.css'>cmd.exe</option>
  <option value='red.css'>red</option>
  <option value='inverted.css'>inverted</option>
  <option value='comic.css'>comic</option>
  <option value='base64.css'>base64</option>
</select>

<a href="https://x.com/intent/post?url={{ page.url | absolute_url }}&via=NDevTK">Share</a>
<a id="translate" href="https://translate.google.com/translate?u={{ page.url | absolute_url }}">English</a>
<a href="https://ndevtk.github.io/writeups/privacy/">Privacy</a>

<script src="/writeups/js/footer.js"></script>
