<meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' 'inline-speculation-rules'; object-src 'none'; base-uri 'none'; require-trusted-types-for 'script';" />

<link rel="icon" type="image/x-icon" href="/writeups/favicon.ico">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<base target="_top" />

<!-- Prerender posts -->
<script type="speculationrules">
{
  "prerender": [
    {
      "source": "document",
      "where": { "href_matches": "/*\\?*#*" },
      "eagerness": "moderate"
    }
  ],
  "prefetch": [
    {
      "source": "document",
      "where": { "not": { "href_matches": "/*\\?*#*" } },
      "eagerness": "moderate"
    }
  ]
}
</script>

<script src="/writeups/js/themes.js"></script>
