body {
  background: linear-gradient(304deg,#3991f6,#304763,#a8ec72,#35d301,#6081,#5a8204);
  background-size: 360% 360%;
  animation: gradient-animation 42s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
