body {
  background-image: url('/writeups/mc.webp');
  background-size: cover;
  background-attachment: fixed;
  backdrop-filter: blur(10px);
  color: white;
}

.highlight {
  color: black;
}

a {
  color: lightgreen;
}

h1 {
  color: #03ff00;
}
