p,
li,
h1,
h2,
h3 {
  /* https://www.metoffice.gov.uk/weather/learn-about/weather/optical-effects/rainbows/colours-of-the-rainbow */
  background-image: linear-gradient(
    to left,
    red,
    orange,
    yellowgreen, /* Yellow is hard to read :( */
    green,
    blue,
    indigo,
    violet
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

body {
  background-image: none;
  background-color: white;
}
