---
layout: default
---
<div>  
  {{ content }}
  <ul id="postLinks">
    {% for post in site.posts %}
      <li>
        <h2>
          <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>
  <p1>Subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a> my Chromium issues can be found <a href="https://bugs.chromium.org/p/chromium/issues/list?q=reporter%3Andevtk%40protonmail.com&can=1">here</a> report writeup issues <a href="https://github.com/NDevTK/writeups">here</a></p1>
  <p2>This website may store Cookies and use Google Analytics, get over it. Opt-out via [Google Analytics Opt-out Add-on](https://chrome.google.com/webstore/detail/google-analytics-opt-out/fllaojicojecljbmefodhfapmkghcbnh) and [contact me](mailto:ndevtk@protonmail.com) regarding data deletion.</p2>
</div>
<script type="speculationrules">
{
  "prerender": [
    {
      "source": "document",
      "where": { "href_matches": "/*\\?*#*" },
      "eagerness": "moderate"
    }
  ],
  "prefetch": [
    {
      "source": "document",
      "where": { "not": { "href_matches": "/*\\?*#*" } },
      "eagerness": "moderate"
    }
  ]
}
</script>
