---
layout: default
---
<meta http-equiv="origin-trial" content="Aqoid9UKuiBe/0DtZuRC/Ti6QMuIB0uJjMYDD2YelFIUHWa/sIZKREDOVeFCRGg3+RPm7KdOD2utF3QIV/rEwg0AAABoeyJvcmlnaW4iOiJodHRwczovL25kZXZ0ay5naXRodWIuaW86NDQzIiwiZmVhdHVyZSI6IlNwZWN1bGF0aW9uUnVsZXNQcmVmZXRjaEZ1dHVyZSIsImV4cGlyeSI6MTcwNDQxMjc5OX0=">
<div>  
  {{ content }}
  <ul id="postLinks">
    {% for post in site.posts %}
      <li>
        <h2>
          <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>
  <p>Subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a> my Chromium issues can be found <a href="https://bugs.chromium.org/p/chromium/issues/list?q=reporter%3Andevtk%40protonmail.com&can=1">here</a> report writeup issues <a href="https://github.com/NDevTK/writeups">here</a></p>
</div>
<script>
"use strict";

const postLinks = document.getElementById('postLinks');
postLinks.addEventListener('click', async (e) => {
    let src = e.srcElement;
    if (!navigator.userAgentData || navigator.userAgentData.mobile !== false) return;
    // Ignore same page hash navigations
    if (!src || !src.href || src.href.startsWith(location.origin + location.pathname + '#') || !self.documentPictureInPicture) return;
    e.preventDefault();
    let result = await fetch(src.href, {mode: 'same-origin'});
    let content = await result.text();
    let pip = documentPictureInPicture.window;
    if (!pip || pip.closed) {
        pip = await documentPictureInPicture.requestWindow({
            width: '1000',
            height: '1000'
        });
    }
    pip.document.body.innerHTML = '<base target="_blank">' + content;
});
</script>
<script type="speculationrules">
{
  "prerender": [
    {
      "source": "document",
      "where": { "href_matches": "/*\\?*#*" },
      "eagerness": "moderate"
    }
  ],
  "prefetch": [
    {
      "source": "document",
      "where": { "not": { "href_matches": "/*\\?*#*" } },
      "eagerness": "moderate"
    }
  ]
}
</script>
