---
layout: default
---

<div>  
  {{ content }}
  <ul>
    {% for post in site.posts %}
      <li>
        <h2>
          <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>
  <p>Subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a> my Chromium issues can be found <a href="https://bugs.chromium.org/p/chromium/issues/list?q=reporter%3Andevtk%40protonmail.com&can=1">here</a> report writeup issues <a href="https://github.com/NDevTK/writeups">here</a></p>
</div>
