---
layout: default
---
<head>
  <meta http-equiv="origin-trial" content="Aqoid9UKuiBe/0DtZuRC/Ti6QMuIB0uJjMYDD2YelFIUHWa/sIZKREDOVeFCRGg3+RPm7KdOD2utF3QIV/rEwg0AAABoeyJvcmlnaW4iOiJodHRwczovL25kZXZ0ay5naXRodWIuaW86NDQzIiwiZmVhdHVyZSI6IlNwZWN1bGF0aW9uUnVsZXNQcmVmZXRjaEZ1dHVyZSIsImV4cGlyeSI6MTcwNDQxMjc5OX0=">
</head>
<h1>{{ page.title }}</h1>
<article id="content">{{ content }}</article>
<script type="speculationrules">
{
  "prerender": [
    {
      "source": "document",
      "where": { "href_matches": "/*\\?*#*" },
      "eagerness": "moderate"
    }
  ],
  "prefetch": [
    {
      "source": "document",
      "where": { "not": { "href_matches": "/*\\?*#*" } },
      "eagerness": "moderate"
    }
  ]
}
</script>
